## Text Cleaning

In [79]:
import pandas as pd
import numpy as np
import re
import nltk
import openpyxl

import warnings
warnings.filterwarnings('ignore')

In [80]:
data_cleaning = pd.read_excel("data_version2.xlsx")

In [81]:
data_cleaning.head()

   Unnamed: 0  ...                                         ReviewBody
0           0  ...  4 Hours before takeoff we received a Mail stat...
1           1  ...  I recently had a delay on British Airways from...
2           2  ...  Boarded on time, but it took ages to get to th...
3           3  ...  5 days before the flight, we were advised by B...
4           4  ...  We traveled to Lisbon for our dream vacation, ...

[5 rows x 4 columns]

In [82]:
data_cleaning = data_cleaning.drop(['Unnamed: 0'], axis = 1)

In [83]:
data_cleaning.head()

  Review category  ...                                         ReviewBody
0        Negative  ...  4 Hours before takeoff we received a Mail stat...
1        Negative  ...  I recently had a delay on British Airways from...
2        Positive  ...  Boarded on time, but it took ages to get to th...
3        Negative  ...  5 days before the flight, we were advised by B...
4        Negative  ...  We traveled to Lisbon for our dream vacation, ...

[5 rows x 3 columns]

In [84]:
from nltk.corpus import stopwords
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.stem import PorterStemmer, WordNetLemmatizer
import string
import emoji

In [85]:
data_cleaning['Review']= data_cleaning['ReviewHeader']+ ' ' + data_cleaning['ReviewBody']
data_version3 = data_cleaning [['Review', 'Review category']]
data_version3.head()

                                              Review Review category
0  "Service level far worse then Ryanair" 4 Hours...        Negative
1  "do not upgrade members based on status" I rec...        Negative
2  "Flight was smooth and quick" Boarded on time,...        Positive
3  "Absolutely hopeless airline" 5 days before th...        Negative
4  "Customer Service is non existent" We traveled...        Negative

In [86]:
print(data_version3['Review'][0])

"Service level far worse then Ryanair" 4 Hours before takeoff we received a Mail stating a cryptic message that there are disruptions to be expected as there is a limit on how many planes can leave at the same time. So did the capacity of the Heathrow Airport really hit British Airways by surprise, 4h before departure? Anyhow - we took the one hour delay so what - but then we have been forced to check in our Hand luggage. I travel only with hand luggage to avoid waiting for the ultra slow processing of the checked in luggage. Overall 2h later at home than planed, with really no reason, just due to incompetent people. Service level far worse then Ryanair and triple the price. Really never again. Thanks for nothing.

In [87]:
## Lowercasing the review
data_version3 ['Review'] = data_version3['Review'].str.lower()

In [88]:
data_version3.head()

                                              Review Review category
0  "service level far worse then ryanair" 4 hours...        Negative
1  "do not upgrade members based on status" i rec...        Negative
2  "flight was smooth and quick" boarded on time,...        Positive
3  "absolutely hopeless airline" 5 days before th...        Negative
4  "customer service is non existent" we traveled...        Negative

In [89]:
## Removing HTML tags
def remove_html_tags (text):
    pattern = re.compile('<.*?>')
    return pattern.sub(r'', text) ## Function defination
data_version3['Review'] = data_version3['Review'].apply(remove_html_tags)

In [90]:
data_version3.head()

                                              Review Review category
0  "service level far worse then ryanair" 4 hours...        Negative
1  "do not upgrade members based on status" i rec...        Negative
2  "flight was smooth and quick" boarded on time,...        Positive
3  "absolutely hopeless airline" 5 days before th...        Negative
4  "customer service is non existent" we traveled...        Negative

In [91]:
## Removing URLs
def remove_urls (text):
    pattern = re.compile (r'https?://\S+|www\.\S+')
    return pattern.sub(r'', text)
data_version3 ['Review'] = data_version3['Review'].apply(remove_urls)

In [92]:
data_version3.head()

                                              Review Review category
0  "service level far worse then ryanair" 4 hours...        Negative
1  "do not upgrade members based on status" i rec...        Negative
2  "flight was smooth and quick" boarded on time,...        Positive
3  "absolutely hopeless airline" 5 days before th...        Negative
4  "customer service is non existent" we traveled...        Negative

In [93]:
## Testing of remove_html_tags and remove_urls functions
sample_text = "https://media.gcflearnfree.org/global/coding/basketballdog.png I have a white cat which has two beautiful eyes"
print(remove_html_tags(sample_text))
print(remove_urls(sample_text))

https://media.gcflearnfree.org/global/coding/basketballdog.png I have a white cat which has two beautiful eyes
 I have a white cat which has two beautiful eyes

In [94]:
## Removing punctuations
import string
string.punctuation
punc = string.punctuation
def remove_punctuations (text):
    return text.translate(str.maketrans('', '',punc))
data_version3['Review']= data_version3['Review'].apply(remove_punctuations)

In [95]:
data_version3.head()

                                              Review Review category
0  service level far worse then ryanair 4 hours b...        Negative
1  do not upgrade members based on status i recen...        Negative
2  flight was smooth and quick boarded on time bu...        Positive
3  absolutely hopeless airline 5 days before the ...        Negative
4  customer service is non existent we traveled t...        Negative

In [ ]:
string.punctuation ## List of punctuations

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'