## Loading the dataset and basic Cleaning

In [1]:
import pandas as pd
import numpy as np
import re
import nltk

In [2]:
import openpyxl

In [3]:
## Lading the dataset
data = pd.read_excel("BA_AirlineReviews.xlsx")

In [4]:
data.head()

,Unnamed: 0,OverallRating,Review category,ReviewHeader,Name,Datetime,VerifiedReview,ReviewBody,TypeOfTraveller,SeatType,...,DateFlown,SeatComfort,CabinStaffService,GroundService,ValueForMoney,Recommended,Aircraft,Food&Beverages,InflightEntertainment,Wifi&Connectivity
0,0,1.0,Negative,"""Service level far worse then Ryanair""",L Keele,19th November 2023,True,4 Hours before takeoff we received a Mail stat...,Couple Leisure,Economy Class,...,2023-11-01,1.0,1.0,1.0,1.0,no,NaN,NaN,NaN,NaN
1,1,3.0,Negative,"""do not upgrade members based on status""",Austin Jones,19th November 2023,True,I recently had a delay on British Airways from...,Business,Economy Class,...,2023-11-01,2.0,3.0,1.0,2.0,no,A320,1.0,2.0,2.0
2,2,8.0,Positive,"""Flight was smooth and quick""",M A Collie,16th November 2023,False,"Boarded on time, but it took ages to get to th...",Couple Leisure,Business Class,...,2023-11-01,3.0,3.0,4.0,3.0,yes,A320,4.0,NaN,NaN
3,3,1.0,Negative,"""Absolutely hopeless airline""",Nigel Dean,16th November 2023,True,"5 days before the flight, we were advised by B...",Couple Leisure,Economy Class,...,2022-12-01,3.0,3.0,1.0,1.0,no,NaN,NaN,NaN,NaN
4,4,1.0,Negative,"""Customer Service is non existent""",Gaylynne Simpson,14th November 2023,False,"We traveled to Lisbon for our dream vacation, ...",Couple Leisure,Economy Class,...,2023-11-01,1.0,1.0,1.0,1.0,no,NaN,1.0,1.0,1.0

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3701 entries, 0 to 3700
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             3701 non-null   int64
 1   OverallRating          3696 non-null   float64
 2   Review category        3696 non-null   object
 3   ReviewHeader           3701 non-null   object
 4   Name                   3701 non-null   object
 5   Datetime               3701 non-null   object
 6   VerifiedReview         3701 non-null   bool
 7   ReviewBody             3701 non-null   object
 8   TypeOfTraveller        2930 non-null   object
 9   SeatType               3699 non-null   object
 10  Route                  2926 non-null   object
 11  DateFlown              2923 non-null   datetime64[ns]
 12  SeatComfort            3585 non-null   float64
 13  CabinStaffService      3574 non-null   float64
 14  GroundService          2855 non-null   float64
 15  ValueForMoney          3700 non-null   float64
 16  Recommended            3701 non-null   object
 17  Aircraft               1922 non-null   object
 18  Food&Beverages         3315 non-null   float64
 19  InflightEntertainment  2551 non-null   float64
 20  Wifi&Connectivity      609 non-null    float64
dtypes: bool(1), datetime64[ns](1), float64(8), int64(1), object(10)
memory usage: 582.0+ KB

In [6]:
data_version1 = data[['OverallRating', 'Review category', 'ReviewHeader']]

In [7]:
data_version1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3701 entries, 0 to 3700
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   OverallRating    3696 non-null   float64
 1   Review category  3696 non-null   object
 2   ReviewHeader     3701 non-null   object
dtypes: float64(1), object(2)
memory usage: 86.9+ KB

In [8]:
data_version2 = data_version1.iloc[0:1000]

In [9]:
data_version2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   OverallRating    1000 non-null   float64
 1   Review category  1000 non-null   object
 2   ReviewHeader     1000 non-null   object
dtypes: float64(1), object(2)
memory usage: 23.6+ KB

In [10]:
data_version2.isnull().sum()

OverallRating      0
Review category    0
ReviewHeader       0
dtype: int64

In [11]:
data_version2.duplicated().sum()

5

In [16]:
data_version2 = data_version2.drop_duplicates()

In [17]:
data_version2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 995 entries, 0 to 999
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   OverallRating    995 non-null    float64
 1   Review category  995 non-null    object
 2   ReviewHeader     995 non-null    object
dtypes: float64(1), object(2)
memory usage: 31.1+ KB

In [20]:
data_version2.to_excel("data_version2.xlsx")

C:\Users\tarun\AppData\Local\Temp\ipykernel_23568\2026884649.py:1: UserWarning: Pandas requires version '3.0.5' or newer of 'xlsxwriter' (version '3.0.3' currently installed).
  data_version2.to_excel("data_version2.xlsx")