## Text Cleaning

In [6]:
import pandas as pd
import numpy as np
import re
import nltk
import openpyxl

In [7]:
data_cleaning = pd.read_excel("data_version2.xlsx")

In [8]:
data_cleaning.head()

,Unnamed: 0,Review category,ReviewHeader,ReviewBody
0,0,Negative,"""Service level far worse then Ryanair""",4 Hours before takeoff we received a Mail stat...
1,1,Negative,"""do not upgrade members based on status""",I recently had a delay on British Airways from...
2,2,Positive,"""Flight was smooth and quick""","Boarded on time, but it took ages to get to th..."
3,3,Negative,"""Absolutely hopeless airline""","5 days before the flight, we were advised by B..."
4,4,Negative,"""Customer Service is non existent""","We traveled to Lisbon for our dream vacation, ..."

In [13]:
data_cleaning = data_cleaning.drop(['Unnamed: 0'], axis = 1)

In [14]:
data_cleaning.head()

,Review category,ReviewHeader,ReviewBody
0,Negative,"""Service level far worse then Ryanair""",4 Hours before takeoff we received a Mail stat...
1,Negative,"""do not upgrade members based on status""",I recently had a delay on British Airways from...
2,Positive,"""Flight was smooth and quick""","Boarded on time, but it took ages to get to th..."
3,Negative,"""Absolutely hopeless airline""","5 days before the flight, we were advised by B..."
4,Negative,"""Customer Service is non existent""","We traveled to Lisbon for our dream vacation, ..."